.body_card {
  background: #fff;
  height: 1000px;
}
.body_card .com {
  width: 1180px;
  margin: auto;
}
.body_card .pop {
  width: 100%;
  padding-top: 10px;
}
.body_card .pop .pop_head {
  display: flex;
  padding: 0.5rem 0;
  border-bottom: solid 2px #2577E3;
}
.body_card .pop .pop_head .link {
  display: flex;
  flex-grow: 1;
  margin-right: auto;
}
.body_card .pop .pop_head .link li {
  margin-right: 30px;
  cursor: pointer;
}
.body_card .pop .pop_head .link li:hover {
  color: #2577E3;
}
.body_card .pop .pop_head a {
  font-size: 0.5rem;
  color: #2577E3;
}
.body_card .pop .pop_body {
  background: white;
  padding: 0.8rem 1rem;
  border: solid 1px #999;
}
.body_card .pop .pop_body .ul {
  display: flex;
}
.body_card .pop .pop_body .ul li {
  margin-right: 20px;
  font-size: 0.7rem;
  padding: 0.4rem;
}
.body_card .pop .pop_body .ul li:hover {
  background: #2577E3;
  color: white;
  border-radius: 0.3rem;
}
.body_card .pop .pop_body .box2 {
  position: relative;
}
.body_card .pop .pop_body .box2 .body_fl {
  width: 920px;
}
.body_card .pop .pop_body .box2 .body_fl .ul1 {
  display: flex;
  flex-wrap: wrap;
}
.body_card .pop .pop_body .box2 .body_fl .ul1 li {
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
}
.body_card .pop .pop_body .box2 .body_fl .ul1 li .box {
  position: absolute;
  padding: 2rem 0.7rem;
  border-radius: 50%;
  top: 30px;
  left: 60px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
.body_card .pop .pop_body .box2 .body_fl .ul1 li .box span {
  color: #FFB000;
  font-size: 18px;
}
.body_card .pop .pop_body .box2 .body_fr {
  position: absolute;
  top: 10px;
  right: 0px;
}
.body_card .sea {
  width: 100%;
  padding-top: 10px;
}
.body_card .sea .sea_head {
  padding: 0.5rem 0;
  border-bottom: solid 2px #2577E3;
}
.body_card .sea .sea_head .link {
  display: flex;
  flex-grow: 1;
  margin-right: auto;
}
.body_card .sea .sea_head .link li {
  margin-right: 30px;
  cursor: pointer;
}
.body_card .sea .sea_head .link li:hover {
  color: #2577E3;
}
.body_card .sea .sea_body {
  background: white;
  width: 100%;
  display: flex;
}
.body_card .sea .sea_body .ul2 {
  width: 190px;
  padding: 1rem 1rem;
  font-size: 0.7rem;
  border-right: dashed 1px #777;
}
.body_card .sea .sea_body .ul2 dl {
  color: #888;
}
.body_card .sea .sea_body .ul2 dl dd {
  padding: 0.7rem 0;
  cursor: pointer;
}
.body_card .sea .sea_body .ul2 dt {
  color: #000;
  font-weight: bold;
}
.body_card .sea .sea_body .ul2 dd:hover {
  color: #2577E3;
}
.body_card .sea .sea_body .right {
  flex: 2;
  padding: 10px;
}
.body_card .sea .sea_body .right .ul {
  display: flex;
  flex-grow: 1;
  margin-right: auto;
}
.body_card .sea .sea_body .right .ul li {
  margin-right: 20px;
  font-size: 0.7rem;
  padding: 0.4rem;
}
.body_card .sea .sea_body .right .ul li:hover {
  background: #2577E3;
  color: white;
  border-radius: 0.3rem;
}
.body_card .sea .sea_body .right .ul .aaa {
  font-size: 0.5rem;
  color: #2577E3;
  display: inline-block;
  margin-left: 610px;
}
.body_card .sea .sea_body .right .box2 {
  position: relative;
  width: 910px;
}
.body_card .sea .sea_body .right .box2 .ul1 {
  display: flex;
  flex-wrap: wrap;
}
.body_card .sea .sea_body .right .box2 .ul1 li {
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
}
.body_card .sea .sea_body .right .box2 .ul1 li .box {
  position: absolute;
  padding: 2rem 0.7rem;
  border-radius: 50%;
  top: 30px;
  left: 60px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
.body_card .sea .sea_body .right .box2 .ul1 li .box span {
  color: #FFB000;
  font-size: 18px;
}
.body_card .sea .sea_body .right .box2 .body_fr {
  position: absolute;
  top: 10px;
  right: 0px;
}
