* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
html img, body img {
  vertical-align: middle;
}
html ul li, body ul li {
  list-style: none;
}
html a, body a {
  color: #000;
  text-decoration: none;
}
html h2, body h2 {
  font-weight: 300;
}

.head_nav {
  width: 100%;
  background: #333333;
  height: 40px;
  line-height: 40px;
  font-size: 10px;
}
.head_nav div {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.head_nav div ul {
  display: flex;
}
.head_nav div ul span {
  padding: 0 5px;
  color: #424242;
}
.head_nav div ul a {
  color: #B0B0B0;
}
.head_nav div ul img {
  width: 20px;
  margin-right: 5px;
}

header {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 55px;
  height: 55px;
  background: url(../img/3.png) orange;
  background-size: 55px 55px;
}
header .logo h1 {
  font-size: 0px;
}
header .nav {
  margin-left: 110px;
  line-height: 55px;
}
header .nav a {
  padding: 0 8px;
  font-size: 16px;
}
header .nav a:hover {
  color: orange;
}
header .search {
  display: flex;
}
header .search div:first-of-type input {
  width: 200px;
  height: 35px;
  border: 1px solid #E0E0E0;
  padding-left: 10px;
}
header .search div:last-of-type input {
  height: 37px;
  width: 50px;
  border: 1px solid #E0E0E0;
  border-left: none;
  outline: none;
  background: #fff;
}

section {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
section aside {
  width: 250px;
  height: 380px;
  padding: 20px 0;
  background: #455158;
}
section aside ul li {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
section aside ul li a, section aside ul li span {
  color: #fff;
}
section aside ul li:hover {
  background-color: #FF6700;
}
section .loop {
  width: 940px;
  height: 420px;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
}
section .loop span {
  position: absolute;
  top: 160px;
  width: 50px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  color: #D0D3D6;
}
section .loop span:hover {
  background: #061621;
  color: #fff;
  cursor: pointer;
}
section .loop span:first-of-type {
  left: 0;
}
section .loop span:last-of-type {
  right: 0;
}
section .loop ul {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}
section .loop ul li img {
  width: 940px;
  height: 420px;
}
section .loop .circle {
  width: 130px;
  height: 40px;
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .loop .circle div {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #686A71;
}
section .loop .circle .turn {
  background: #716F74;
}

.work {
  width: 1200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.work div:nth-of-type(1) {
  width: 250px;
  background: darksalmon;
  display: flex;
  flex-flow: row wrap;
}
.work div:nth-of-type(1) ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}
.work div:nth-of-type(1) ul li {
  width: calc(100% / 3);
  height: 70px;
  line-height: 40px;
  text-align: center;
  background: #5F5750;
  color: #C1BEBB;
  padding: 10px 0;
}
.work div:nth-of-type(1) ul li img {
  width: 35px;
}
.work div:nth-of-type(1) ul li:hover {
  color: #fff;
}
.work img {
  width: calc((100% - 280px) / 3);
}

.body {
  width: 100%;
  background: #F5F5F5;
}
.body .body_main {
  width: 1200px;
  margin: 0 auto;
}

.body_main .fast h2 {
  line-height: 60px;
  display: flex;
  justify-content: space-between;
}
.body_main .fast h2 div span {
  background: #F5F5F5;
  border: 1px solid #E0E0E0;
  padding: 5px 15px;
}
.body_main .fast h2 div span:hover {
  cursor: pointer;
}
.body_main .fast .fast_body {
  display: flex;
}
.body_main .fast .fast_body .first {
  width: 250px;
  height: 300px;
  border-top: 1px solid #E53935;
  background: #F1EDED;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.body_main .fast .fast_body .first span {
  display: inline-block;
}
.body_main .fast .fast_body .first .time {
  color: #E53935;
  font-size: 20px;
}
.body_main .fast .fast_body .first img {
  width: 60px;
}
.body_main .fast .fast_body .first div span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #605751;
}
.body_main .fast .fast_body ul {
  flex: 1px;
  display: flex;
}
.body_main .fast .fast_body ul li {
  width: calc((100% - 40px) / 4);
  margin-left: 10px;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 30px 0;
}
.body_main .fast .fast_body ul li img {
  width: 150px;
}
.body_main .fast .fast_body ul li p:last-of-type {
  color: #666;
  font-size: 12px;
}
.body_main .fast .fast_body ul li span:first-of-type {
  color: orange;
}
.body_main .fast .fast_body ul li span:last-of-type {
  color: #666;
  text-decoration: line-through;
}
.body_main .fast .fast_body ul li:nth-of-type(1) {
  border-top: 1px solid #83C44E;
}
.body_main .fast .fast_body ul li:nth-of-type(2) {
  border-top: 1px solid #2196F3;
}
.body_main .fast .fast_body ul li:nth-of-type(3) {
  border-top: 1px solid #E53935;
}
.body_main .fast .fast_body ul li:nth-of-type(4) {
  border-top: 1px solid #00C0A5;
}
.body_main .fast .banner {
  margin-top: 10px;
  width: 100%;
}